@model IEnumerable<cis237_inclass_6.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="form-group">
    <fieldset>
        <legend>Search Filter</legend>
        @*Open up a form that will go to the Filter method on the 
          BeveragesController with a POST request*@

        @using (Html.BeginForm(
            "Filter",    // Action method to run
            "Cars",    // Controller that method is on
            FormMethod.Post    // Therequest type
        ))
        {
            @*Render out the AntiForgery Token for the form*@
            @Html.AntiForgeryToken()

            <label for="make">Make</label>
            @Html.TextBox("make", ViewData["filterMake"])
            <label for="min">Min</label>
            @Html.TextBox("min", ViewData["filterMin"])
            <label for="max">Max</label>
            @Html.TextBox("max", ViewData["filterMax"])

            <input type="submit"
                value="Filter"
                class="btn btn-info pull-right" />
        }
    </fieldset>
</div>
<br />
<br />

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horsepower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cylinders)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horsepower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cylinders)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
